# Ignore Python virtual environment files
backend/codegen

# Ignore Visual Studio Code settings
.vscode/

#ignore the api keys .env file
backend/.env

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build
